.list {
    width: 80%;
    position:absolute;
    top:30%;
    left: 10%;
}

#pencil{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}


.boxed {
    overflow: auto;
    width: 340px;
    height: 170px;
    border:2px solid lightgray;
    border-radius: 5px;
    float: left;
    margin-left: 85px;

}